* { box-sizing: border-box; margin: 0; padding: 0; }

html, body {
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  font-family: system-ui, -apple-system;
  font-size: 20px;
}

.app {
  padding: 32px;
}

h2 {
  font-size: 28px;
  margin-bottom: 28px;
}

label {
  display: block;
  opacity: .7;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 22px;
  font-size: 22px;
  border-radius: 22px;
  background: #000;
  border: 1px solid #333;
  color: #fff;
  margin-bottom: 24px;
}

button {
  width: 100%;
  padding: 22px;
  font-size: 22px;
  border-radius: 999px;
  background: #fff;
  color: #000;
  border: none;
}